body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0px;
    background-color: #fff0ff;
}

.hero {
    background-color: #a87bc7;
    padding: 50px 200px 0px;
    display: flex;
    flex-direction: column;
}

.topper {
    display: flex;
}

.multimedia {
    display: flex;
    padding: 80px 0px;
    align-items: center;
    gap: 50px;
    justify-content: end;
}

.text {
    display: flex;
    flex-direction: column;
    width: 250px;
    gap: 20px;
    flex-grow: 1;
}

.placeholder-img {
    margin-left: auto;
    flex-grow: 2;
}

.header {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
    width: 350px;
}

.links {
    margin-left: auto;
    display: flex;
    gap: 20px;
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;    
}

a {
    color:#F9FAF8; 
    text-decoration:none; 
    cursor:pointer;
}

.subtext, .links {
    color: #F9FAF8;
    font-size: 18px;
}

.subtext {
    font-style: italic;
}

button {
    color: black;
    background-color: #b3ffe2;
    border-radius: 8px;
    cursor: pointer;
    text-align: center;
    padding: 10px 15px;
    font-weight: bold;
    font-size: 15px;
    width: 150px;
}

.button-one {
    border: none;
}

.button-two {
    border: 1px solid black;
    margin-left: auto;
}

.random {
    text-align: center;
    padding: 50px 200px 80px;
}

.info {
    display: flex;
    flex-direction: column;
    color:#1F2937;
    gap: 5px;
}

.info-one {
    font-size: 36px;
    font-weight: 900;
}

.info-two {
    font-size: 18px;
    padding-bottom: 40px;
    font-style: italic;
}

.collection {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.line {
    font-style: italic;
}

.quote {
    background-color: #e0b0ff;
    color: #1F2937;
    text-align: left;
    padding: 50px 350px 50px;
    display: flex;
    flex-direction: column;
    font-size: 36px;
    gap: 10px;
}

.author {
    margin-left: auto;
}

.CTA {
    display: flex;
    background-color: #b3ffe2;
    padding: 40px;
    margin: 80px 200px;
}

.marketing {
    display: flex;
    flex-direction: column;
    color: black;
    font-size: 18px;
    padding-left: 50px;
    gap: 5px;
}

.first {
    font-size: 24px;
    font-weight: bold;
}

.footer {
    background-color: #734a91;
    color: #E5E7EB;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
}